# OS
.DS_Store
Thumbs.db

# IDE / Editors
.vscode/
.idea/

# Temporary files
*.log
*.tmp
*.temp
*.bak
*.swp

# Node
node_modules/

# Build / cache
dist/
build/
.cache/

# Composer
vendor/

# Local environment
.env
.env.*

# WordPress generated / temporary
*.mo
*.pot~

# Archives
*.zip
*.rar
*.7z